body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
span {
    color: #00b0f0;
}
a {
    cursor: pointer;
}
form{
    display: flex;
    justify-content: center;
}

form p{
    float: left;
}
.background {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #07BEB8;
}
.card-section {
    display: flex;
    width: 80%;
    min-height: 75vh;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.2);
}
.information-side {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px 0px 0px 10px;
}
.information-side .container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.information-side .container img {
    width: 95%;
}
.information-side .container .welcome_msg {
    margin: 15px 0px 0px 0px;
    font-size: 30px;
    font-weight: 500;
}
.information-side .container p {
    margin: 2px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
}
.form-side {
    display: flex;
    width: 50%;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}
.form-side #register_step1 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.form-side #register_step1 .container .div_msg {
    display: flex;
    width: 100%;
    justify-content: start;
}
.form-side #register_step1 .container .div_msg p {
    margin-bottom: 0;
    font-size: 16px;
    color: black
}
.form-side #register_step2 {
    display: flex;
    width: 100%;
    justify-content: center;
}
.form-side #register_step2 .container .div_msg {
    display: flex;
    width: 100%;
    justify-content: start;
}
.form-side #register_step2 .container .div_msg p {
    margin-bottom: 0;
    font-size: 16px;
    color: black
}
.form-side .logo-tecx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 70%;
    flex-direction: row;
}
.form-side .logo-tecx img {
    width: 78px;
    float: right;
}
.form-side .logo-tecx h1 {
    margin: 0px 0px 3px 0px;
    font-size: 35px;
    color: black;
}
.form-side .container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.form-side .container p {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}
.form-side .container input {
    width: 100%;
    height: 42px;
    margin-top: 22px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    outline: none;
}
.form-side .container .ruaInput {
    width: 75%;
    margin-right: 2%;
}
.form-side .container .numInput {
    width: 23%;
}

.form-side .container .cnpjInput {
    width: 50%;
}

.form-side .container .telefoneInput {
    width: 48%;
    margin-left: 2%;

}

.form-side .container .cidadeInput {
    width: 65%;
    margin-right: 2%;
}
.form-side .container .cepInput {
    width: 33%;
}
.form-side .container .form-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0px 12px 0px;
}
.form-side .container .form-buttons p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
.form-side .container .form-buttons button {
    width: 130px;
    height: 40px;
    background-color: #07BEB8;
    outline: none;
    border: 0;
    border-radius: 100px;
    color: white;
    font-size: 16px;
}
.form-side .container .form-buttons button:hover {
    transition: 0.2s;
    background-color: #049792;
}

#msg {
    display: none;
    width: -webkit-fill-available;
    text-align: start;
    font-size: 14px;
    margin-bottom: 0;
}

#mens {
    display: none;
    width: -webkit-fill-available;
    text-align: start;
    font-size: 14px;
    margin-bottom: 0;
}

#register{
    display: none;
}

#loading{
    display: none;
}